ip: 192.168.15.2
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: .
        to: /home/vagrant/code
sites:
    -
        map: blog.test
        to: /home/vagrant/code/public
databases:
    - blog
name: blog
hostname: blog
